<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/active/css/base.css">
    <link rel="stylesheet" type="text/css" href="/active/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/active/css/release.css">
    <link rel="stylesheet" type="text/css" href="/active/css/swiper-4.2.0.min.css">
    <script src="/active/js/jquery-1.10.1.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <script src="/javascripts/wxpay.js"></script>
    <script>
        var URL = window.location.protocol + "//" + window.location.host;
    </script>
</head>
