<% include sh_top.html %>
<body>
	<div class="err-container bg1">
		<div class="err-over">
			 很遗憾 您的伤寒论知识很薄弱<br  />距离<em>跟名师</em>还差很远
		</div>
		<a class="err-btn" href="/sh"></a>
		<a  class="err-btn-mr"></a>
	</div>
	<div class="add-code">
		<div class="add-doctor"></div>
		<div class="share-code"><img src="/active/sh/addoctor.png" alt=""><i class="share-close"></i></div>
	</div>
</body>
<script src="/javascripts/wxpay.js"></script>
<script>
	$(function(){
		$(".err-btn-mr").click(function(){
			 $(".add-code").show();
		})
	  $('i.share-close').click(function(event) {
	  	/* Act on the event */
			 $(".add-code").hide();
	  });

	})
	wxInit();
	ansnum();
	var url ='http://bm.eyexing.com/sh';
	var title = " 我正在挑战伤寒论，邀你来战！";
	var img = 'http://bm.eyexing.com/active/sh/share_header.jpg'
	var desc ="通关即可获得小柴胡汤免费学习资格";
	wxshare(url,title,img);
	wxsharefriend(url,title,desc,img);
	wxshareQQ(url,title,desc,img);


</script>
</html>
