<% include top.html %>
<body>
	<div class="containter" id="gameBox">

	</div>
</body>
<script id="gameTmpl" type="text/tmpl">
	<div class="subject-question">
			<div class="que-box">
			<span class="que-num">[EQ]、</span>
		<span class="que-img">
			<img src="img/cy/[IMG]" alt="">
			</span>
			</div>
			<div class="que-tit">
			<img src="img/clock.gif" alt="">
			<span class="s1" id="Time">30</span>
			</div>
			<div class="que-list">
			<ul>
			<li>
				<span class="s1">[ONE]</span>
				<span class="s2" >&nbsp;</span>
				<span class="s1">[TWO]</span>
			</li>
			<li>
			<span class="s1">[THREE]</span>
			<span class="s2">&nbsp;</span>
			<span class="s1">[FOUR]</span>
			</li>
			</ul>
			</div>
			</div>
	</div>
</script>
<script src="/javascripts/games.js"></script>
</html>
